
<div class="container">
    <div class="form_group">
		<div class="overlay">
            <form action="#" [formGroup]="login">
                <h1>Forgot Password</h1>
                
                <!-- Email field -->
                <input [formControl] = "email" placeholder="Email" />
                <div *ngIf="!email.valid && (email.dirty || email.touched)" class="validation">
                    <span *ngIf="email.errors?.['pattern']"> Enter a valid email address</span>
                    <span *ngIf="email.errors?.['required']"> Enter your email address and we will send you a link to reset your password</span>
                </div>
             
                <button type="submit" class="anchor" (click)="onSubmit()">Reset Password</button>
            </form>
		</div>
        <span class="font-lg color-light cursor_pointer">Remember the pass? return to the  <a class="font-bold underline" [routerLink]="['/login']">Login</a>  page</span>
	</div>
</div>

